# ==========================
# ARCHIVOS DE ENTORNO Y SEGURIDAD
# ==========================
.env
.env.*
*.env
instance/
secrets.json

# ==========================
# ARCHIVOS DE PYTHON / FLASK
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Ignorar migraciones si se regeneran automáticamente
migrations/

# ==========================
# ENTORNOS VIRTUALES
# ==========================
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/
Virtual/

# ==========================
# ARCHIVOS DE VISUAL STUDIO CODE
# ==========================
.vscode/
.vscode/*
*.code-workspace

# ==========================
# ARCHIVOS DEL SISTEMA
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# OTROS ARCHIVOS TEMPORALES
# ==========================
*.bak
*.swp
*.tmp
*.old
*.orig
