/* Estilos para Contraste Oscuro */
html[data-asw-filter="dark-contrast"] body,
html[data-asw-filter="dark-contrast"] .main-footer-section,
html[data-asw-filter="dark-contrast"] .flip-card-front,
html[data-asw-filter="dark-contrast"] .flip-card-back,
html[data-asw-filter="dark-contrast"] section[style*="background:#417e34"],
html[data-asw-filter="dark-contrast"] .cards-section {
    background: #1e1e1e !important;
    color: #e0e0e0 !important;
}

html[data-asw-filter="dark-contrast"] body {
    background-color: #121212 !important;
}

html[data-asw-filter="dark-contrast"] .main-footer-section,
html[data-asw-filter="dark-contrast"] .flip-card-front,
html[data-asw-filter="dark-contrast"] .flip-card-back,
html[data-asw-filter="dark-contrast"] section[style*="background:#417e34"],
html[data-asw-filter="dark-contrast"] .cards-section {
    border: 1px solid #555 !important;
}

/* --- Textos y Enlaces --- */
html[data-asw-filter="dark-contrast"] h1,
html[data-asw-filter="dark-contrast"] a,
html[data-asw-filter="dark-contrast"] .nav-button,
html[data-asw-filter="dark-contrast"] .card-title,
html[data-asw-filter="dark-contrast"] .card-content,
html[data-asw-filter="dark-contrast"] .back-title,
html[data-asw-filter="dark-contrast"] .back-content {
    color: #ffffff !important;
}



/* Intercambia la visibilidad de las imágenes del divisor en modo oscuro */
html[data-asw-filter="dark-contrast"] #divider-claro {
    display: none !important;
}
html[data-asw-filter="dark-contrast"] #divider-oscuro {
    display: block !important;
}


/* --- Componentes Específicos --- */
html[data-asw-filter="dark-contrast"] .nav-button {
    background-color: #333 !important;
}

html[data-asw-filter="dark-contrast"] .nav-button.special {
    background-color: #c05600 !important; /* Un naranja más oscuro para mejor contraste */
}

html[data-asw-filter="dark-contrast"] .video-overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

/* Estilos para Bajo Contraste (Light Contrast) */
html[data-asw-filter="light-contrast"] body {
    background-color: #f0f0f0 !important;
    color: #555 !important;
}

html[data-asw-filter="light-contrast"] .main-header,
html[data-asw-filter="light-contrast"] .main-footer-section,
html[data-asw-filter="light-contrast"] .about-us-section,
html[data-asw-filter="light-contrast"] .cards-section {
    filter: brightness(1.1) saturate(0.8);
}

html[data-asw-filter="light-contrast"] h1,
html[data-asw-filter="light-contrast"] h2 {
    color: #232323 !important;
}

html[data-asw-filter="light-contrast"] .video-overlay {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
