/* Configuración de Iconos */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Animación de carga para las barras de progreso */
@keyframes loadBar {
    from { width: 0; }
    to { width: var(--target-width); }
}

.progress-bar-fill {
    transition: width 1.5s ease-in-out;
    /* Esto asegura que si agregas la clase de animación, funcione */
    animation: loadBar 1.5s ease-in-out forwards;
}