/* Configuración de Iconos Material Symbols */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Ajustes específicos para el Dashboard */
canvas#diagnosisChart {
    max-height: 130px;
}

/* Efecto suave para las tarjetas de resumen */
.card-hover-effect:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}
