<!DOCTYPE html>
<html>
<head>
    <title>MINECONECT</title>
</head>
<body>
    <h1>BIENVENIDO A MINECONECT</h1>
    <p>Este contenio tiene un archivo HTML</p>

    <nav>
    <ul>
        <a href="#" class="nav-link active" data-target="inicio">Inicio</a>
        <a href="#" class="nav-link" data-target="nosotros">Nosotros</a>
        <a href="#" class="nav-link" data-target="contacto">Contacto</a>
        <a href="#" class="nav-link" data-target="login">Iniciar Sesion</a>
        <a href="#" class="nav-link" data-target="register">Registrate</a>
    </ul>
    </nav>
</body>
</html> 