<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mineconect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}">
</head>
<body>
    <div class="video-overlay"></div>
    <div class="video-background">
        <video autoplay loop muted playsinline>
            <source src="{{ url_for('static', filename='Videos/Video_Cluster720.mp4') }}" type="video/mp4">
            Tu navegador no soporta videos HTML5.
        </video>
    </div>

    <header class="main-header">
        <nav class="main-nav">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='Img/Min.png') }}" alt="Mineconect Logo">
            </a>
            <ul class="nav-menu">
                <li><a href="#" class="nav-button">INICIO</a></li>
                <li><a href="#" class="nav-button">SOBRE NOSOTROS</a></li>
                <li><a href="#" class="nav-button">CONTACTENOS</a></li>
                <li><a href="#" class="nav-button">INICIAR SESION</a></li>
                <li><a href="#" class="nav-button special">REGISTRATE</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <h1>MINECONECT</h1>
    </main>

</body>
</html>
